/* .container{
    background:url('../../../public/next-assets/bg.png');
    height: 600px;
    background-repeat: no-repeat;
   } */

   .container {
    background-color: white;
    background-image: url('../../../public/next-assets/map.png');
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
}

   
.logo {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    padding-top: 80px;
    padding-bottom: 20px;
}

   
   .btn{
   width: 300px;
   height: 30px;
   border-radius: 30px;
    background: linear-gradient(90deg, rgba(0, 145, 48, 1) 17%, rgba(0, 129, 145, 1) 81%);
   }
   
   
   .form{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

   
  
.links{
    text-decoration: underline;
    text-align: left;
    font-size: 12px;
    padding-left:120px;
    padding-bottom: 10px;
}

   
   .form_control{
       display: block;
       width: 80%;
       padding: 0.375rem 0.75rem;
       font-size: 0.7rem;
       font-weight: 400;
       line-height: 1.5;
       color: #212529;
       background-color: #fff;
       background-clip: padding-box;
       border: 1px solid #ced4da;
       -webkit-appearance: none;
       appearance: none;
       border-radius: 0.375rem;
       margin: 10px;
   }

   .error{
    font-size: 12px;
    color:red;
    padding:10px;
   }
   

   .hrefs{
    padding-left: 10px;
    font-size: 12px;
   }
   